* {
  box-sizing: border-box;
}

html,
body,
#map {
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

#top-view {
  position: absolute;
  z-index: 1;
  background: #003366;
  width: 100%;
  border: 1px solid black;
  height: 90px;
  opacity: .9
}

#title {
  position: absolute;
  text-transform: uppercase;
  color: #ffffcc;
}

#attribution {
  position: absolute;
  color: #ffffcc;
}

#nav {
  position: absolute;
  background: #003366;
  opacity: .9;
  border: 1px solid black;
  height: 80%;
  top: 90px;
}

#search-box {
  background: #fff;
  width: 50%;
  height: 30px;
  position: absolute;
}

.restaurant-list {
  overflow: scroll;
  width: 100%;
  height: 70%;
  position: absolute;
}

li {
  list-style: none;
  color: #ffffcc;
  position: relative;
  margin-top: 20px;
}

#list-item:hover {
  background: #99cc00;
  cursor: pointer;
}

#pano {
  width: 180px;
  height: 120px;
  margin: 0 auto;
}

.toggle-btn {
  width: 35px;
  height: 5px;
  background-color: lightgreen;
  margin: 6px 0;
  position: relative;
  cursor: pointer;
}

#windowName{
  margin: 0 auto;
}

.windowStyles {
  font-size: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.windowStyles a:hover {
  color: blue;
}